<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Expense Tracker</title>
    <link rel="stylesheet" href="./css/style.css?refreshcss=1">
    <link rel='icon' href='./favicon/favicon.ico' type='image/x-icon'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./javascript/index.js" defer></script>


</head>

<body>

<header class="header">
    <h1 class="h1">The Expense Tracker</h1>

    <div class="welcome-container">
        <h2 class="h2">Budgets</h2>
        <ul class="budget-list">
        </ul>
        <div class="btn-container">
            <button class="add-budget-btn" type="submit">Add a new budget</button>
        </div>

    </div>

    <div class="budget-container">
        <label class="budget-label" id="bud-name">
            <span class="budget-info h4">Budget name</span>
            <input class="budget-name budget-submitted" type="text" placeholder="Maximum 10 characters">
        </label>
        <label class="budget-label" id="bud-start">
            <span class="budget-info h4">Start date</span>
            <input class="start-date budget-submitted" type="date">
        </label>
        <label class="budget-label" id="bud-end">
            <span class="budget-info h4">End date</span>
            <input class="end-date budget-submitted" type="date">
        </label>
        <label class="budget-label" id="bud-amount">
            <span class="budget-info h4">Amount</span>
            <input class="budget-amount budget-submitted" type="number" placeholder="Only digits">
        </label>

            <button class="submit-btn" id="submit-budget" type="submit">Submit budget</button>
            <button class="home-btn" id="home-from-budget" type="submit">Home</button>
    </div>

    <div class="are-you-sure-container">
        <h2 class="are-you-sure">Are you sure you want to delete this budget?</h2>
        <p id="budget-to-delete"></p>
        <button id="no-btn" type="button">No</button>
        <button id="yes-btn" type="button">Yes</button>
    </div>

    <div class="budget-menu-container">
        <ul id="budget-ul">
            <li class="budget-info-list" id="budget-dates"></li>
            <li class="budget-info-list" id="budget-name"></li>
            <li class="budget-info-list" id="budget-total"></li>

            <li class="budget-info-list" id="total-day"></li>
            <li class="budget-info-list" id="daily-budget"></li>
            <li class="budget-info-list" id="average-spent"></li>

            <li class="budget-info-list" id="total-trip"></li>
            <li class="budget-info-list" id="remaining"></li>
            <h2 id="todays-date">Today's date: </h2>
        </ul>

        <div class="btn-container">
            <button class="category-btn" type="submit">Category breakdown</button>
            <button class="date-btn" type="submit">Date breakdown</button>
            <button class="add-expense-btn" type="submit">Add a new expense</button>
            <button class="home-btn" id="home-from-menu" type="submit">Home</button>
        </div>
    </div>

    <div class="expense-container">
        <label class="expense-label" id="exp-date">
            <span class="expense-info h4">Date</span>
            <input class="expense-date expense-submitted" type="date">
        </label>
        <label class="expense-label" id="exp-category">
            <span class="expense-info h4">Category</span>
            <select class="expense-category expense-submitted">
                <option value="FOOD">Food</option>
                <option value="ENTERTAINMENT">Entertainment</option>
                <option value="ACCOMMODATION">Accommodation</option>
                <option value="TRANSPORT">Transport</option>
                <option value="MISC">Misc</option>
            </select>
        </label>
        <label class="expense-label" id="exp-amount">
            <span class="expense-info h4">Euro</span>
            <input class="expense-amount expense-submitted" type="number" placeholder="Only digits">
        </label>
        <label class="expense-label" id="exp-comment">
            <span class="expense-info h4">Comment</span>
            <input class="expense-comment expense-submitted" type="text" placeholder="Maximum 30 characters">
        </label>

            <button class="submit-btn" id="submit-expense-btn" type="submit">Submit expense</button>
            <button class="back-btn" id="back-from-expense" type="submit">Back to overview</button>
            <button class="home-btn" id="home-from-expense" type="submit">Home</button>
    </div>

    <div class="per-container">
        <ul class="expense-list">
        </ul>
        <div class="per-btn-container">
            <button class="back-btn" id="back-from-per" type="submit">Back to overview</button>
            <button class="home-btn" id="home-from-per" type="submit">Home</button>
        </div>
    </div>
</header>
</body>

</html>